/* Esconde o SVG original */
.logo-wrapper svg {
    display: none;
}

.logo-wrapper {
    background: black !important;
    color: white !important;
    border-bottom: 2px solid #06436a !important;
}

/* Substitui por imagem externa */
.logo-wrapper .logo {
    width: 100px !important;
    height: 70px !important;
    background-image: url("https://i0.wp.com/a5x.com.br/wp-content/uploads/2025/06/Logo-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}
.logo-wrapper:after {
    display: block;
    content: "Kafka DEV";
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: white !important;
    margin-top: 10px;
}

.title {
    border-bottom: 2px solid #06436a !important;
}